@import url('https://fonts.googleapis.com/css2?family=Andika:ital@1&family=Archivo:wght@100&family=Brygada+1918&family=Inconsolata:wght@900&family=Nanum+Gothic&family=Oswald:wght@200&family=Sevillana&family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.background {
    background: rgba(0, 0, 0, 0.7) url("y.webp");
    background-size: cover;
    /* background-blend-mode: darken; */
    height: 100%;
    width: 100%;
}

.nav {
    padding: 2rem;
    top: 0;
    background-color: black;

    /* position: sticky; */
}

.navlist {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    /* margin-left: 5rem; */
}

.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    color: wheat;
}

.navlist li a:hover {
    text-decoration: underline;

}

.ee {
    text-align: center;
    /* padding: 3rem; */
}

.search {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3px;
    margin-left: 36%;
    padding-top: 2rem;



}

.div {
    text-align: center;
    /* margin-left: 36%; */
    padding-top: 2rem;
    font-size: 2.5rem;
    color: white;
    text-transform: capitalize;
}

.city {

    padding: 10px;
    padding-left: 20px;
    border-radius: 3rem;
    font-size: 20px;
    background: none;
    color: wheat;
    border: 2px solid white;
}

.searchbtn {
    padding: 10px;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: wheat;
}

.searchbtn:hover {
    background-color: rgb(104, 230, 104);
}

#iconsContainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
}

.icons {
    background: none;
    margin: 3rem;
    padding: 4rem;
    border: 1px solid white;
    color: white;
    border-radius: 2rem;

}

.weatherr {
    font-size: 3rem;
    padding-bottom: 3rem;
}

.tempp {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.flex {
    display: flex;
    margin-top: 1rem;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.image {
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    text-transform: capitalize;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    .search {
        padding-top: 2rem;
        margin-left: 0;
    }
}